$breakpoint_mobile: 375px;
$breakpoint_tablet: 768px;
$breakpoint_tablet_portrait: 992px;
$breakpoint_desktop: 1440px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (min-width: #{$breakpoint_mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$breakpoint_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$breakpoint_desktop}) {
    @content;
  }
}

@function rem($pxValue) {
  @return #{calc(stripUnit($pxValue) / stripUnit(16))}rem;
}

@function rem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}
