@use "reset";
@use "global";
@import "responsive";

.game-container {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  header {
    h1 {
      font-size: rem(32);
      padding: 10px;
      margin-bottom: 5px;
    }
  }

  .container-description {
    padding: 10px;
    margin-bottom: 10px;
    h2 {
      font-size: rem(24);
      padding: 5px;
    }
    ul {
      li {
        font-size: rem(18);
        padding: 5px;
      }
    }
  }

  .container-table {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    div {
      background-color: black;
      display: flex;
      div {
        min-width: 15px;
        min-height: 15px;
        background-color: gray;
        border: 0.5px solid black;
        .cell-button {
          opacity: 0%;
          width: 100%;
          height: 100%;
          padding: 0%;
          cursor: pointer;
        }
      }

      .alive {
        background-color: blue;
      }
      .dead {
        background-color: gray;
      }
    }
  }

  .container-buttons {
    margin-top: 20px;
    padding: 10px;
    button {
      padding: 10px;
      font-size: rem(18);
      font-family: inherit;
    }
    input {
      font-size: rem(18);
      font-family: inherit;
      padding: 10px;
      width: 100px;
    }
    label {
      font-size: rem(18);
    }
  }

  @include device {
    header {
      h1 {
        font-size: rem(20);
      }
    }

    .container-description {
      h2 {
        font-size: rem(16);
      }
      ul {
        li {
          font-size: rem(14);
        }
      }
    }

    .container-table {
      div {
        div {
          min-height: 5px;
          max-width: 5px;
        }
      }
    }

    .container-buttons {
      button {
        font-size: rem(14);
        padding: 8px;
      }

      input {
        font-size: rem(14);
        padding: 8px;
        width: 50px;
      }

      label {
        font-size: rem(14);
      }
    }
  }
}
