@use "reset";
@use "global";
@import "responsive";

main {
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  header {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: rem(32);
      padding: 30px;
    }
    p {
      font-size: rem(22);
      line-height: 1.5;
      padding: 20px;
    }
  }

  section {
    margin: 40px;
  }

  .game-container {
    h3 {
      padding: 20px;
      font-size: rem(24);
      margin-bottom: 10px;
    }
    label {
      padding: 20px;
    }
    input {
      font-family: inherit;
      padding: 10px;
    }

    button {
      font-family: inherit;
      padding: 10px;
    }

    div {
      p {
        padding: 20px;
        font-size: rem(16);
      }
      ol {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        li {
          padding: 5px;
          font-size: rem(16);
        }
      }
    }
  }
}
